[submodule "conduit-backend"]
	path = conduit-backend
	url = git@github.com:yazan93farah/conduit-backend.git
[submodule "conduit-frontend"]
	path = conduit-frontend
	url = git@github.com:yazan93farah/conduit-frontend.git
